<div class="container">
  <h1>About</h1>
  
  <p>This application was developed by <a target="_blank" href="https://nightwolf.dev">NightWolf Software Development</a>.</p>
  
  <p>This is an application used to learn <a target="_blank" rel="noopener noreferrer" href="https://angular.io">Angular</a>, <a target="_blank" rel="noopener noreferrer" href="https://rxjs.dev">RxJS</a>, and <a target="_blank" rel="noopener noreferrer" href="https://www.typescriptlang.org">TypeScript</a>.</p>
    
  <p>The <a target="_blank" rel="noopener noreferrer" href="https://www.themoviedb.org/">TMDB API</a> is used to gather all the data that you see. This application uses the TMDB API, but is not endorsed or certified by TMDB.</p>
    
  <p>Styles used in the application come from <a target="_blank" rel="noopener noreferrer" href="https://clarity.design/">Clarity Design System</a>.</p>
  
  <p>Code can be reviewed in the <a target="_blank" rel="noopener noreferrer" href="https://github.com/nightwolfdev/movies">Github Repo</a>.</p>
</div>