<clr-main-container>
  <clr-header id="header" class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z"></path>
          <rect x="3" y="6" width="12" height="12" rx="2"></rect>
       </svg>
        <span class="title">Movies</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" routerLink="/discover" routerLinkActive="active"><span class="nav-text">Discover</span></a>
      <a class="nav-link" routerLink="/about" routerLinkActive="active"><span class="nav-text">About</span></a>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="search">
      <label for="search_input" (click)="onSubmit()">
          <input type="text" id="search_input" formControlName="query" placeholder="Search for movies">
      </label>
    </form>
  </clr-header>

  <div class="content-container">
    <div #contentArea class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>