<div id="top" class="container">
  <ng-container *ngIf="data$ | async as data; else loading">
    <h1>Keyword: {{ data.keywordName }}</h1>

    <app-pagination [page]="data.page" [totalPages]="data.total_pages" (nextPageEvent)="goToPage($event)"></app-pagination>

    <app-movie-list [displayAll]="true" layout="list" [movies]="data.results"></app-movie-list>

    <app-pagination [page]="data.page" [totalPages]="data.total_pages" (nextPageEvent)="goToPage($event)"></app-pagination>
  </ng-container>

  <clr-alert [clrAlertClosed]="errorModalClosed" [clrAlertClosable]="false" [clrAlertType]="'warning'">
    <clr-alert-item>
        <span class="alert-text">
          {{ errorMsg }}
        </span>
    </clr-alert-item>
  </clr-alert>

  <ng-template #loading>
    <app-loading *ngIf="!errorMsg"></app-loading>
  </ng-template>
</div>