<ng-container *ngIf="collection$ | async as collection; else loading">
  <div id="backdrop" [ngStyle]="{'background-image': collection.backdrop_path ? 'url(https://image.tmdb.org/t/p/w1280/' + collection.backdrop_path + ')' : '', 'background-position': 'center center', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
    <div id="backdropMask">
      <div class="container">
        <div class="clr-row clr-align-items-center clr-justify-content-center">
          <div class="clr-col-sm-12 clr-col-md-3">
            <img id="moviePoster" [src]="collection.poster_path ? 'https://image.tmdb.org/t/p/w342/' + collection.poster_path : 'https://placehold.co/400?text=NO+IMAGE'" [alt]="collection.name">
          </div>
          <div class="clr-col-sm-12 clr-col-md-8">
            <div id="contentMask">
              <h1>{{ collection.name }}</h1>
              
              <ng-container *ngIf="collection.overview">
                <h2>Overview</h2>
                {{ collection.overview }}
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="collectionMovieList" class="container">
    <h2>{{ collection.parts.length }} Movies</h2>
    <app-movie-list [displayAll]="true" layout="list" [movies]="collection.parts"></app-movie-list>
  </div>
</ng-container>

<clr-alert [clrAlertClosed]="errorModalClosed" [clrAlertClosable]="false" [clrAlertType]="'warning'">
  <clr-alert-item>
      <span class="alert-text">
        {{ errorMsg }}
      </span>
  </clr-alert-item>
</clr-alert>

<ng-template #loading>
  <app-loading *ngIf="!errorMsg"></app-loading>
</ng-template>
